.idea/
.ipynb_checkpoints/
*.pyc
.DS_Store
tests/__pycache__/
zgoubidoo/__pycache__/
zgoubidoo/commands/__pycache__/
zgoubidoo.egg-info/
zgoubidoo/vis/__pycache__/
docs/_build
examples/zgoubi.res
examples/zgoubi.plt
examples/*.dat
examples/zgoubi.log
examples/zgoubi.MATRIX.out
examples/.ipynb_checkpoints
tests/zgoubi*
.mypy_cache
*.root
.python-version
.vscode/
jupyter_execute/
.conda_config