.idea/
tests/__pycache__/
zgoubidoo/__pycache__/
zgoubidoo/commands/__pycache__/
zgoubidoo.egg-info/
zgoubidoo/vis/__pycache__/
docs/_build
examples/zgoubi.res
examples/zgoubi.plt
examples/zgoubi.dat
examples/zgoubi.log
examples/zgoubi.MATRIX.out
